body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #638fe3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #aebed6;
  border-radius: 10px;
}

.container__name_user {
  display: flex;
  margin-bottom: 20px;
}

.container__name_user h1 {
  font-weight: initial;
  font-size: 1.5rem;
}

.image_container {
  padding: 10px;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000038;
  box-sizing: border-box;
}

.comments_container{
  margin: 20px;
}

.comments_container input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  width: 240px;
}

.comments_container button {
  border: none;
  color: #fff;
  background-color: #1f86c7;
  cursor: pointer;
  padding: 10px 6px;
  border-radius: 5px;
  margin-left: 5px;
}

.comments_container button:hover {
  background-color: #1a76bb;
}

.comment {
  background-color: #617fb6;
  color: #fff;
  margin: 10px;
  width: 275px;
  padding: 10px;
  border-radius: 5px;
}